#
# This file is a part of TPCI_SEDRA project
# Copyright (c) INRIA 2015
#
# Contributor (s) : Gaetan Harter
# Contacts : gaetan.harter@inria.fr
# 
# This project is headed by SED Rhone-Alpes service at INRIA.
#

nose
nosexcover
# Force because of python2.6
mock <= 1.0.1
setuptools-pep8
setuptools-lint
# issues with pep8 >= 1.6
flake8==2.3.0
